<div class="chat-container">
    <div id="messages-container">
        @for (m of chat(); track m.id){
            <div class="filtro-opaco mensaje">
                <p class="nombre">{{ m.usuarios?.[0]?.nombre }}</p>
                <p class="fecha">{{ m.created_at }}</p>
                <p class="contenido">{{ m.mensaje }}</p>
            </div>
        }
    </div>

    <div class="input-envio">
        <input type="text" [(ngModel)]="nuevoMensaje" placeholder="Escribí tu mensaje" />
        <button (click)="enviarMensaje()">Enviar</button>
    </div>
</div>
