.card {
    width: 200px;
    height: 250px;
    border: 2px solid rgb(200, 27, 253);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(200, 27, 253, 0.5);
}
  
  .card:hover {
    transform: scale(1.05);
    background-color: rgba(200, 27, 253, 0.2);
    box-shadow: 0 0 15px rgb(200, 27, 253);
}
  
  .card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}
  
  .card h4 {
    margin: 10px 0;
    font-size: 1.1rem;
    text-shadow: 0 0 3px rgb(200, 27, 253);
}

/* Pantallas pequeñas: 1 card por fila */
@media (max-width: 576px) {
    .card {
      width: 80%;
      height: auto;
      margin-left: 12%;  
    }
}
  
/* Pantallas medianas: 2 cards por fila */
@media (min-width: 577px) and (max-width: 991px) {
    .card {
        margin-top: 5%;
        width: 240px;
        height: auto;
    }
}
  
/* Pantallas grandes: todas en fila (ej. 4 o más dependiendo del espacio) */
@media (min-width: 992px) {
    .card {
      width: 210px;

    }
}
  

