:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.registro-container {
    background-image: url('../../../../public/home\ 1.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
  
.registro-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Sombra */
    z-index: 1;
}
  
/* Contenedor */
.registro-card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 10%;
    margin-top: 22%;
    padding: 20px 40px; 
    width: 100%;
    max-width: 550px;
    box-shadow: 0 0 20px rgb(200, 27, 253);
    color: #fff;
    position: relative;
    z-index: 2;
}

  
.titulo-neon {
    text-align: center;
    font-size: 2rem;
    color: rgb(250, 250, 250);
    text-shadow:
      0 0 5px rgb(200, 27, 253),
      0 0 10px rgb(200, 27, 253),
      0 0 20px rgb(200, 27, 253);
    margin-bottom: 20px;
}
  
  
input[type="text"], input[type="password"] {
    margin-bottom: 2%;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    background-color: #faf9f9;
    color: rgb(200, 27, 253);
    box-shadow: 0 0 5px rgba(200, 27, 253, 0.5) inset;
}
  
/* Error */
.error-msg {
    color: #ff4dff;
    font-size: 0.8rem;
    margin-top: 5px;
}
  
/* Botones */
.botones {
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 20px;
}
  
button {
    background-color: transparent;
    border: 2px solid rgb(200, 27, 253);
    color: rgb(200, 27, 253);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    text-shadow: 0 0 2px rgb(200, 27, 253);
    flex: 1; 
    max-width: 150px;
}
  
button:hover {
    background-color: rgb(200, 27, 253);
    color: #ffffff;
    box-shadow: 0 0 5px rgb(200, 27, 253), 0 0 8px rgb(200, 27, 253);
}
  