.tabla-con-tiempo-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 3%;
}
  
table {
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    background-color: #1e1e2f;
    color: white;
    box-shadow: 0 0 10px rgba(200, 27, 253, 0.5);
    border-radius: 10px;
    overflow: hidden;
}
  
th, td {
    border: 1px solid rgba(200, 27, 253, 0.3);
    padding: 12px;
    text-align: center;
}
  
th {
    background-color: rgba(200, 27, 253, 0.3);
    font-weight: bold;
    text-shadow: 0 0 5px #c81bfd;
}
  
tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}
  
tr:hover {
    background-color: rgba(200, 27, 253, 0.2);
}
  