<div class="contenedor">
    <h1>Mayor o Menor</h1>
    <div class="instrucciones">
        <h2>¿Cómo se juega?</h2>
        <p>
          - Se mostrará una carta al azar.<br>
          - Debés adivinar si la próxima carta será Mayor, Menor o Igual en valor numérico.<br>
          - Si acertás:<br>
            Ganás 1 punto por elegir Mayor o Menor correctamente.<br>
            Ganás 2 puntos si acertás que es Igual.<br>
          - El valor de las cartas es:<br>
            A = 1<br>
            2 al 10 = su valor<br>
            J = 11, Q = 12, K = 13<br>
          - ¡Buena suerte!
        </p>
    </div>
  
    <div [hidden]="!imagen()">
      <img [src]="imagen()" alt="Carta actual">
    </div>
  
    <p>Puntaje: {{ puntaje() }}</p>
  
    <div class="botones">
      <button (click)="adivinar(true)">Mayor</button>
      <button (click)="adivinar(true, true)">Igual</button>
      <button (click)="adivinar(false)">Menor</button>
    </div>
  
    <p>{{ resultado() }}</p>
  </div>
  

