<body>
  <div class="contenedor">
      <h1>Mayor o Menor</h1>
      <p>Vidas:
        <span>{{ vidas() >= 1 ? '❤️' : '' }}</span>
        <span>{{ vidas() >= 2 ? '❤️' : '' }}</span>
        <span>{{ vidas() >= 3 ? '❤️' : '' }}</span>
      </p>
      
      <div [hidden]="!imagen()">
        <img [src]="imagen()" alt="Carta actual">
      </div>
    
      <p>Puntaje: {{ puntaje() }}</p>
    
      <div class="botones" [hidden]="vidas() <= 0">
        <button class="pushable" (click)="adivinar(true)">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">Mayor</span>
        </button>
      
        <button class="pushable" (click)="adivinar(true, true)">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">Igual</span>
        </button>
      
        <button class="pushable" (click)="adivinar(false)">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">Menor</span>
        </button>
      </div>
    
      <p>{{ resultado() }}</p>
      
    </div>
</body> 

