.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
  
.portada-retro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../public/home 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.portada-retro::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Sombra*/
  z-index: 1;
}
  
.titulo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 250%;
  background-image: url('../../../../public/saladejuegos.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
  
.ingresa {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 75%;
  background-image: url('../../../../public/ingresa.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 11;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}
  

.centralizados {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  z-index: 999;
}


/* BOTON LOGIN*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  overflow: hidden;
  height: 4rem;
  position: absolute;
  margin-left: -7.5rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}
  
#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}
  
strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 20px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}
  
#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}
  
.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}
  
.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}
  
.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*BREAKPOINTS*/
/* Pantallas chicas: celulares hasta 576px */
@media (max-width: 576px) {
  .titulo {
    width: 90%;
    height: 35vh;
    top: 47%;
  }

  .ingresa {
    width: 80%;
    height: 30vh;
    top: 34%;
  }

  .centralizados {
    top: 65%;
  }

  .btn {
    width: 13rem;
    height: 3.5rem;
    margin-left: -6rem;
  }
}

/* Pantallas medianas: tablets entre 577px y 992px */
@media (min-width: 577px) and (max-width: 992px) {
  .titulo {
    width: 85%;
    height: 50vh;
    top: 40%;
  }

  .ingresa {
    width: 70%;
    height: 45vh;
    top: 21%;
  }

  .centralizados {
    top: 55%;
  }

  .btn {
    width: 14rem;
    height: 4rem;
    margin-left: -7rem;
  }
}

/* Pantallas grandes: desktops desde 993px en adelante */
@media (min-width: 993px) {
  .titulo {
    width: 80%;
    height: 58vh;
    top: 38%;
  }

  .ingresa {
    width: 65%;
    height: 58vh;
    top: 13%;
  }

  .centralizados {
    top: 58%;
  }

  .btn {
    width: 19rem;
    height: 6rem;
    margin-left: -9rem;
  }
}




/* @media (max-width: 576px) {
  .titulo {
    width: 90%;
    height: 120%;
    top: 42%;
  }

  .ingresa {
    width: 80%;
    height: 60%;
    top: 15%;
  }

  .centralizados {
    top: 55%;
  }

  .btn {
    width: 12rem;
    height: 3.5rem;
    margin-left: -6rem;
  }
} */

/* Pantallas medianas: tablets entre 577px y 992px */
/* @media (min-width: 577px) and (max-width: 992px) {
  .titulo {
    width: 85%;
    height: 180%;
    top: 40%;
  }

  .ingresa {
    width: 70%;
    height: 70%;
    top: 8%;
  }

  .centralizados {
    top: 57%;
  }

  .btn {
    width: 14rem;
    height: 4rem;
    margin-left: -7rem;
  }
} */

/* Pantallas grandes: desktops desde 993px en adelante */
/* @media (min-width: 993px) {
  .titulo {
    width: 80%;
    height: 250%;
    top: 40%;
  }

  .ingresa {
    width: 60%;
    height: 79%;
    top: 5%;
  }

  .centralizados {
    top: 60%;
  }

  .btn {
    width: 15rem;
    height: 4rem;
    margin-left: -7.5rem;
  }
} */

  