.juegos-container {
  background-image: url('../../../../public/juegos.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.juegos-container .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* sombra */
  z-index: 1;
}

.juegos-card {
  padding: 40px;
  margin: 50%;
  width: 90%;
  max-width: 1000px;
  color: #fff;
  position: absolute;
  z-index: 2;

  /* Estilo para alinear cards */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.titulo-neon {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: rgb(250, 250, 250);
  text-shadow:
    0 0 5px rgb(200, 27, 253),
    0 0 10px rgb(200, 27, 253),
    0 0 20px rgb(200, 27, 253);
  margin-bottom: 30px;
}

.card {
  width: 200px;
  height: 250px;
  border: 2px solid rgb(200, 27, 253);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(200, 27, 253, 0.5);
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(200, 27, 253, 0.2);
  box-shadow: 0 0 15px rgb(200, 27, 253);
}

.card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card h4 {
  margin: 10px 0;
  font-size: 1.1rem;
  text-shadow: 0 0 3px rgb(200, 27, 253);
}
