<div class="juegos-container">
  <div class="overlay"></div>
  <div class="juegos-card">
    <h1 class="titulo-neon">Bienvenida/o a la Sala de Juegos</h1>

    <app-card texto = "Ahorcado" imagen="ahorcado.png" link="ahorcado"></app-card>
    <app-card texto = "Mayor y Menor" imagen="carta.png" link="mayor-menor"></app-card>
    <app-card texto = "Preguntados" imagen="preguntados.png" link="preguntados"></app-card>
    <app-card texto = "Batalla Naval" imagen="barco.png" link="batalla-naval"></app-card>

  </div>
</div>

<router-outlet />
