<div class="resultados-container">
    <div class="overlay"></div> 
    <div class="resultados-card">
      <h1 class="titulo-neon">Sala de Puntajes</h1>

      <app-card texto = "Ahorcado" imagen="ahorcado.png" link="resultados-ahorcado"></app-card>
      <app-card texto = "Mayor y Menor" imagen="carta.png" link="resultados-mayormenor"></app-card>
      <app-card texto = "Preguntados" imagen="preguntados.png" link="resultados-preguntados"></app-card>
      <app-card texto = "Batalla Naval" imagen="barco.png" link="resultados-batallanaval"></app-card>

    </div>
  </div>
  
  <router-outlet />
  
