<nav [class.ocultar]="isHome()">
  <button routerLink="/home">Home</button>

  @if (!isLoggedIn()) {
    <button
    class="btn"
    routerLink="/login"
    [class.ocultar]="isLogin()"
  >
    Login
  </button>

  <button
    class="btn"
    routerLink="/registro"
    [class.ocultar]="isLogin() || isRegistro()"
  >
    Registro
  </button>
  }
 
  @if (isLoggedIn()) {
    <button routerLink="/juegos">Juegos</button>
    <button routerLink="/quien-soy">Acerca de mí</button>
    <button (click)="logout()">Cerrar sesión</button>
    <span>Bienvenido/a {{ auth.usuario()?.email }}</span>
  }
</nav>

<router-outlet />


