<nav [class.ocultar]="isHome()" class="nav-container">
  <div class="nav-logo"></div>

  @if (!isLoggedIn()) {
    <button class="nav-btn" routerLink="/home">
      <span id="container-stars"><span id="stars"></span></span>
      <span id="glow"><span class="circle"></span><span class="circle"></span></span>
      <strong>Home</strong>
    </button>

    <button class="nav-btn" routerLink="/login" [class.ocultar]="isLogin()">
      <span id="container-stars"><span id="stars"></span></span>
      <span id="glow"><span class="circle"></span><span class="circle"></span></span>
      <strong>Login</strong>
    </button>

    <button class="nav-btn" routerLink="/registro" [class.ocultar]="isLogin() || isRegistro()">
      <span id="container-stars"><span id="stars"></span></span>
      <span id="glow"><span class="circle"></span><span class="circle"></span></span>
      <strong>Registro</strong>
    </button>
  }

  @if (isLoggedIn()) {
    <div class="menu-logueo">
      <span class="usuario-texto">Bienvenido/a {{ auth.usuario()?.email }}</span>
      <div class="menu-hamburguesa">
        <button class="hamburguesa-icono" (click)="toggleMenu()">☰</button>
    
        <div class="hamburguesa-opciones" [class.visible]="menuAbierto">
          <button class="nav-btn" routerLink="/juegos">
            <span id="container-stars"><span id="stars"></span></span>
            <span id="glow"><span class="circle"></span><span class="circle"></span></span>
            <strong>Juegos</strong>
          </button>
    
          <button class="nav-btn" routerLink="/quien-soy">
            <span id="container-stars"><span id="stars"></span></span>
            <span id="glow"><span class="circle"></span><span class="circle"></span></span>
            <strong>Acerca de mí</strong>
          </button>
    
          <button class="nav-btn" (click)="logout()">
            <span id="container-stars"><span id="stars"></span></span>
            <span id="glow"><span class="circle"></span><span class="circle"></span></span>
            <strong>Cerrar sesión</strong>
          </button>
        </div>
      </div>
    </div>
  }
</nav>

<router-outlet />