<body>

    <div class="encabezado-contenedor">
        <h1>Batalla Naval</h1>
      
        <div class="datos-puntajes">
          <div class="encabezado-izquierda">
            <p>Mis barcos: {{ barcosJugadorRestantes() }}</p>
            <p>Me faltan hundir: {{ barcosBotRestantes() }}</p>
          </div>
      
          <section class="puntajes">
            <p>Mis puntos: {{ puntajeJugador() }}</p>
            <p>Enemigo: {{ puntajeBot() }}</p>
          </section>
        </div>
      </div>
      
    <div class="tableros">
    <section class="tablero">
        <h2>Tu Tablero</h2>
        <div class="grid">
        @for (fila of tableroJugador; track fila) {
            <div class="fila">
                @for (celda of fila; track celda) {
                <div
                class="celda"
                [class.barco]="celda.tieneBarco"
                [class.impacto]="celda.fueAtacada && celda.tieneBarco"
                [class.agua]="celda.fueAtacada && !celda.tieneBarco"
                ></div>
            }
            </div>
        }
        </div>
    </section>

    <!-- MENSAJE flotante -->
    <div id="mensaje-batalla" class="mensaje-batalla"></div>

    <section class="tablero" [class.bloqueado]="turno() === 'bot'">
        <h2>Enemigo</h2>
        <div class="grid">
        @for (fila of tableroBot; track fila; let i = $index) {
            <div class="fila">
            @for (celda of fila; track celda; let j = $index) {
                <div
                class="celda"
                [class.impacto]="celda.fueAtacada && celda.tieneBarco"
                [class.agua]="celda.fueAtacada && !celda.tieneBarco"
                (click)="jugarTurno(i, j)"
                ></div>
            }
            </div>
        }
        </div>
    </section>
    </div>
</body>